/* src/pages/Menus.css */
.menus-page {
  padding: 20px;
  background: #ffffff;
  color: #2c3e50;
}

.menu-card {
  background: #ffffff;
  color: #2c3e50;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-card h2 {
  color: #2c3e50;
}

